<a href="https://colab.research.google.com/github/JAlonMor/Webscraping/blob/main/MODEL_coches.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Clonar repositorio de GitHub si no está disponible

import os
curr_dir = os.getcwd()

if not os.path.exists(os.path.join(curr_dir, '../.ROOT_DIR')):
  !git clone https://github.com/JAlonMor/Webscraping.git
  os.chdir(os.path.join(curr_dir, 'Webscraping/EDA'))

Cloning into 'Webscraping'...
remote: Enumerating objects: 78, done.
remote: Counting objects: 100% (78/78), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 78 (delta 38), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (78/78), done.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# Amplio límtes de visualización
pd.options.display.max_rows = 200
pd.options.display.max_colwidth = 200
pd.options.display.max_columns = 200

In [3]:
# Creo DataFrame a partir de los datos obtenidos mediante web scraping

model_coches = pd.read_csv("/content/Webscraping/EDA/cochesEDA_Output.csv")

In [4]:
model_coches.head()

,precio,kilometros,garantia,AMG,años,gasolina,hibrido,hib_enchufable,tipo_200,tipo_220,tipo_250,tipo_300,tipo_350,tipo_400,tipo_43,tipo_45,tipo_450,tipo_63,tipo_NoInfo,coupe,berlina,ranchera,4MATIC,Avantgarde,BlueTEC,Sportive,Exclusive,S_Edition,d_Edition
0,16200,281000,0,0,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,26900,114336,1,0,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,11000,287500,0,0,7,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
3,22900,110000,1,0,7,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,68000,10650,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0